html{
    height: 100%;
    background: linear-gradient(#0046ae, #9198e5);
}
div{
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgb(49, 46, 46), -4px -4px 8px rgb(49, 46, 46) ;
    height: 420px;
    width: 300px;
    background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin: auto;
    margin-top: 135px;
}
div:hover{
    cursor:pointer;
    background: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}
img{
    border-radius: 5px;
    height: 180px;
    width: 180px;
    margin-left: 60px;
}
.title{
    color: white;
    padding-top: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 10px black;
}
.songname{
    text-shadow: 2px 2px 10px black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 7px;
    margin-top: 2px;
}
.artist{
    text-align: center;
    color: rgb(92, 88, 88);
    text-shadow: 2px 2px 4px black;
    margin: 0;
}
.time{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;

}
input{
    width: 220px;
    margin-left: 40px;
}
li{
    display: inline-block;
    margin-left: 20px;
}
.start{
    padding-left: 12px;
}
.end{
    padding-left: 100px;
}
.buttoms{
    display: inline-block;
    text-align: center;
}
.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.back
.for
.play:hover{
    border-color: #bebebe;
}
